/*General Settings*/

* {
    font: normal 12pt Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
}

#loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*left side*/

.left {
    position: relative;
    padding: 10px;
    width: 60%;
    margin-right: 2em;
    background-color: #13d644ea;
    color: #e6e4e4;
    box-shadow: 0px 5px 8px #00000060;
}

.left h1 {
    font: bold 1.5em Arial, sans-serif;
    margin-bottom: 1em;
    margin-top: 0.5em;

}

.left p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.left a {
    text-decoration: none;
    color: #fff;
}

.recent {
    position: relative;
    margin: 6em auto;
}

.left .recent #undraw {
    position: absolute;
    bottom: 0;
    right: 0;
}

#recent-title {
    font: bold 1.1em Arial, sans-serif;
    margin-bottom: 2em;
    text-align: center;
}

.img-field {
    display: flex;
}

.img-field figure {
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    position: relative;
    z-index: 2;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.img-field figure:hover {
    background: rgba(255, 255, 255, 0.171);

}

.img-field figure:hover #pontinhos {
    opacity: 1;
}

#pontinhos {
    transition: all .3s ease-in-out;
    opacity: 0;
    padding: 3px;
    border-radius: none;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

#remove {
    transition: all 1s ease-in-out;
    display: none;
    position: absolute;
    background-color: #2F2E41;
    padding: 5px;
    border-radius: 5px;
    top: 0;
    right: 0;
}

.img-field img {
    width: 6em;
    height: 6em;
    border-radius: 80px;
    border: 3px solid #383b63;
}

.img-field figure figcaption p{
    font-size: 14px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.left .rodape #undraw {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.rodape {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-position: center;
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Right side*/

.right {
    width: 35%;
    margin: auto;
    margin-right: 25px;
    padding: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.377);
}

.right h1{
    color: #2F2E41;
    position: relative;
    font: bold 1.5em 'courier', courier, monospace;
}

.line {
    position: absolute;
    background-color: #13d644ea;
    border-radius: 100px;
    padding: 2px;
    width: 1.7em;
    top: 23px;
}

.right form {
    margin-top: 15px;
}

.input-field .input-file {
    transition: all .5s ease-in-out;
    margin-bottom: 2em;
    border-bottom: 2px solid #2F2E41;
}
.input-field .input-file2 {
    transition: all .5s ease-in-out;
    margin-bottom: 2em;
    border-bottom: 2px solid #2F2E41;
}
/*.input-field .input-file:hover  {
    border-bottom: 2px solid #13d644ea;
}*/

.input-field label {
    font-size: 0.8em;

}

.input-field input {
    background: transparent;
    font-size: 0.9em;
    margin-top: 8px;
    padding-bottom: 10px;
}

.input-field input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2F2E41;
}

form .input-field .input-file-password {
    position: relative;
}

form .input-field .input-file-password .flex-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .input-field .input-file-name .flex-name {
    display: flex;
    flex-direction: column;
}

form .input-field .input-file-password span {
    border-left: 2px solid #2f2e4148;
    margin-right: 2px;
    cursor: pointer;
    color: #323144;
    font-weight: 500;
    font-size: 0.9em;
    padding-left: 5px;
}

.input-field .input-file-name {
    margin-top: 1.5em;
}

.right form .in {
    display: flex;
    flex-direction: column;
}

.right form .in button {
    background: #2F2E41;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 5px auto;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.right form .in button:hover {
    background: #13d644ea;
}

.right form .in button a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.forgot {
    text-decoration: none;
    color: #3c9203;
    text-align: center;
    font-size: 0.7em;
}

.forgot:hover {
    text-decoration: underline;
}

/*.backimg {
    margin-left: 80%;
    height: 130px;
    width: 160px;
}
*/
#footer-phone {
    display: none;
}




/*Celular*/

@media screen and (max-width: 786px) {

    body {
        background: url('../img/pexels-rfstudio-3059751.jpg') no-repeat left;
        background-size: cover;
    }

    .container {
        background: linear-gradient(to top, #3e8f0993, #ffffff2d);
    }

    .left {
        display: none;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 100%;
    }       
    .right h1 {
        text-align: center;
        width: 100%;
    }

    .right h1 {
        color: #ffffff;
        text-shadow: 1px 1px 1px #2F2E41;
        border-radius: 5px;
    }

    .right .line {
        display: none;
    } 

    .input-field .input-file {
        display: flex;
        flex-direction: column;
        background: #8d8d8d2a;
        padding: 10px;
        border-radius: 5px 5px 5px 5px;
        border: 2px solid #2F2E41;
        box-shadow: 1px 1px 1px #0000003a;
    }

    .input-field .input-file:last-child {
        margin-bottom: 2em;
    }

    .input-field .input-file:hover {
        border-bottom: 2px solid #2F2E41;
    }

    form .input-field .input-file-password span {
        color: #fff;
        text-shadow: 1px 1px 1px #0000003a;
    }

   .right form .in button {
       overflow: hidden;
       margin-top: 1em;
    }

    .right form .in button:hover {
        background: #3a394e;
    }

   .right #footer-phone {
       overflow: hidden;
        display: none;
        color: #2F2E41;
        width: 50%;
        text-align: center;
    }

}